{% extends "default.html.twig" %}

{% block sidebar %}
    <hr/>
    <form class="form-horizontal" method="POST" action="mobileFilter.php">
        <legend>
            <div class="alert alert-info" align="center">
                <h4>{% filter upper %} параметры фильтра{% endfilter %}</h4>
            </div>
        </legend>
        <div class="alert alert-default" align="center"><h4
                    style="color:#000;">{% filter upper %}цена{% endfilter %}</h4><br/>
            <input id="min-price" name="minPrice" value={{ price.minPrice }} type="text" class="span1"
                   style="height: 30px; text-align: center">
            ...
            <input id="max-price" name="maxPrice" value={{ price.maxPrice }} type="text" class="span1"
                   style="height: 30px; text-align: center"">
        </div>
        {% for filter in filters %}
            <div class="alert alert-default" align="center"><h4 class="text-uppercase"
                                                                style="color:#000;">{% filter upper %}{{ filter.name }}{% endfilter %}</h4>
                <br/>
                {% for field in filter.parameters %}
                    {#{% for brand in filters.brands %}#}
                    <div>
                        <label class="checkbox">
                            {#filter.field - поле из таблицы#}
                            <input type="checkbox" name={{ filter.field }}>
                            <p style="text-align:left; color:#000;">{% filter capitalize %}{{ field.parameter }}{% endfilter %}</p>
                        </label>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        <div align="center">
            <button type="submit" class="btn btn-success">{% filter upper %} применить фильтр{% endfilter %}</button>
        </div>
    </form>
{% endblock %}

{% block content %}
    <div class="span9">
        <ul class="breadcrumb">
            <li><a href={{ route('root') }}><i class="icon-white icon-home"></i></a></li> /
            <li class="active">{Мобильные телефоны}</li>
        </ul>
        <h3> {Мобильные телефоны}
            <small class="pull-right"> {всего найдено наименований}</small>
        </h3>
        <hr class="soft"/>
        <form class="form-horizontal span6" method="POST" action="mobileSort.php">
            <div class="control-group">
                <label class="control-label alignL">Сортировать по:</label>
                <select>
                    <option name='sortName'>Имени А - Я</option>
                    <option name='sortNameDesc'>Имени Я - А</option>
                    <option name='sortPrice'>По возрастанию цены</option>
                    <option name='sortPriceDesc'>По убыванию цены</option>
                </select>
                <button type="submit" class="btn btn-info">Сортировать</button>
            </div>
        </form>
        <div id="myTab" class="pull-right">
            <a href="#blockView" data-toggle="tab"><span class="btn btn-large btn-primary"><i class="icon-th-large"></i></span></a>
            <a href="#listView" data-toggle="tab"><span class="btn btn-large"><i class="icon-list"></i></span></a>
        </div>
        <br class="clr"/>
        <div class="tab-content">

            <div class="tab-pane" id="listView">
                <div class="row">
                    <div class="span2">
                        <img src="../../../public/images/000629714.png" alt=""/>
                    </div>
                    <div class="span4">
                        <hr class="soft"/>
                        <h5>{Product Name} </h5>
                        <p>{description}</p>
                        <a class="btn btn-small pull-right" href="product_details.html">Подробнее</a>
                        <br class="clr"/>
                    </div>
                    <div class="span3 alignR">
                        <form class="form-horizontal qtyFrm">
                            <h3><a class="btn btn-info" href="#">&#8372;{price}</a></h3>
                            <a href="product_details.html" class="btn btn-danger"> Сравнить</a>
                            <a href="product_details.html" class="btn btn-success"> В корзину <i class=" icon-shopping-cart"></i></a>
                        </form>
                    </div>
                </div>
                <hr class="soft"/>
            </div>

            <div class="tab-pane  active" id="blockView">
                <ul class="thumbnails">
                    <li class="span3">
                        <div class="thumbnail">
                            <a href="product_details.html"><img src="/public/images/001435404.jpeg" alt=""/></a>
                            <div class="caption" align="center">
                                <h5>название</h5>
                                <p>краткое описание</p>
                                <h4 style="text-align:center">
                                    <a class="btn btn-info" href="#">&#8372;{price}</a></h4>
                                <a href="product_details.html" class="btn btn-danger">Сравнить</a>
                                <a class="btn btn btn-success" href="#">В корзину<i class="icon-shopping-cart"></i></a>
                            </div>
                        </div>
                    </li>
                </ul>
                <hr class="soft"/>
            </div>
        </div>
        <a href="compair.html" class="btn btn-large btn-danger pull-right">Сравнить продукты</a>
        <div class="pagination">
            <ul>
                <li><a href="#">&lsaquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">...</a></li>
                <li><a href="#">&rsaquo;</a></li>
            </ul>
        </div>
        <br class="clr"/>
    </div>

{% endblock %}
